@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Selamat Datang di Rental Mobil</h1>
    <p>Sewa mobil dengan mudah dan cepat melalui layanan kami. Kami menyediakan berbagai pilihan mobil untuk kebutuhan perjalanan Anda.</p>

    <h2>Pilihan Mobil</h2>
    <p>Temukan mobil yang sesuai dengan kebutuhan Anda. Kami menyediakan berbagai jenis mobil mulai dari sedan, SUV, hingga mobil listrik.</p>

    <h2>Pemesanan Mudah</h2>
    <p>Proses pemesanan mobil kami sangat mudah. Cukup pilih mobil yang diinginkan, tentukan tanggal dan waktu pengambilan, lalu nikmati perjalanan Anda.</p>

    <h2>Lokasi Kami</h2>
    <p>Kami memiliki lokasi penyewaan mobil di berbagai kota. Temukan lokasi terdekat untuk memudahkan Anda dalam pengambilan dan pengembalian mobil.</p>

    <p>Muhammad Febriansyah 5025211164</a>.</p>
</div>
